.wrapper {
  margin: 50px auto;
  max-width: 900px;
  padding: 20px;
}

header {
  padding: 40px 0 0;
  border-bottom: solid;
  background-size: 1000px;
  font-size: 20px;
  width: 1000px;
height: 125px;
border: double;
background-image: url('https://www.noted.co.nz/media/10720/digi-mental-health.jpg');
background-repeat: no-repeat;
background-position: center;
text-align: center;
   color: black;
   font-weight: bold;
   width: 1000px;
   height: 250px;
}

footer {
  border-top: solid;
  clear: both;
   text-align: center;
}

.page {
  float: right;
  width: 60%;
  border-left: solid;
  padding-left: 1.5em;
  padding-bottom: 2em;
  min-height: 400px;
  background: center;

}

aside {
  float: left;
  width: 35%;
  margin-top: 2em;
  font-size: 20px;
  height: 125px;


}

nav ul {
  list-style-type: none;
  padding: 0; 

}

nav li {
  margin-bottom: 1em;
}

nav .active {
  font-weight: bold;

  
}

body {
  font-size: 18px;
  font-family: Verdana;
  background-color: Green;
  max-width: 80%;
  background-size: 500px;
  border-left: 20%;
  background-position: center;
    
   
 
}

footer p { 
       
       color: black;
    font-family: sans-serif;
      font-size: 16px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;

}

h1 {
  font-size: 30px;
  font-family: Verdana;
  text-align: center; 
  color: black;
  background: none ;
  color: black;
  font-weight: bold;
}

p {
  font-size: 15px;
  font-family: Verdana;
  font-color: black; 
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}



